[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

apistar = {git = "https://github.com/encode/apistar.git", editable = true, ref = "level-up"}
wsgicors = "*"


[dev-packages]

pytest = "*"
pytest-cov = "*"
bumpversion = "*"
twine = "*"


[requires]

python_version = "3.6"
